<link rel="import" href="../polymer/polymer.html">
<!--
An element providing a solution to no problem in particular.

Example:
    <<%= props.name %>></<%= props.name %>>

Example:
    <<%= props.name %>>
      <h2>Hello <%= props.name %></h2>
    </<%= props.name %>>

@demo demo/index.html
-->
<dom-module id="<%= props.name %>">
  <template>
    <style>
      :host, *, *::before, *::after {
        box-sizing: border-box;
        -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
                 font-smoothing: antialiased;
      }

      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    class <%= props.class %> {
      beforeRegister() {
        this.is = '<%= props.name %>',

        this.properties = {

        }
      }
    };
    Polymer(<%= props.class %>)
  </script>
</dom-module>
