{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Safari versions",
            "last 2 ios versions",
            "last 2 Edge versions",
            "last 2 Firefox versions"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}