dist: trusty
language: node_js
node_js:
- '6'
before_script:
- npm install -g web-component-tester
script: xvfb-run wct
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable