<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="<%= props.name %>">
  <template>
    <style>
      :host, *, *::before, *::after {
        box-sizing: border-box;
      }

      :host {
        -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
                 font-smoothing: antialiased;
      }
    </style>

  </template>

  <script>
    class <%= props.class %> extends Polymer.Element {
      static get is() {
        return '<%= props.name %>';
      }

      static get properties() {
        return {

        }
      }

      constructor() {
        super();
      }
    }
    customElements.define(<%= props.class %>.is, <%= props.class %>);
  </script>
</dom-module>