<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= props.name %></title>

    <!-- Setup WCT -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^1.0.0/custom-elements-es5-adapter.js"></script>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^1.0.0/webcomponents-loader.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <!-- Import <%= props.name %>  -->
    <link rel="import" href="../<%= props.name %>.html">

  </head>
  <body>
    <test-fixture id="default">
      <template>
        <<%= props.name %>></<%= props.name %>>
      </template>
    </test-fixture>
    <script>
      describe('<<%= props.name %>>', function() {
        var component;

        beforeEach(function() {
          component = fixture('default');
        });

        it('is okay', function() {
          expect(component).to.be.ok;
        });
      });
    </script>
  </body>
</html>
